page-contact {
    .input-type{
        background-color: white;
		text-align:center;
    }
	.personalHeader{
		color:red;
	}
	 .profile{
		background-color: white;
		text-align:center;
		font-family:arial;
		color:green;
	}
	
	.submitButton{
	
	background-color: #00CC00;
	color:white
	
	}
}
